<main>
	<div class="message-container">
		<h2>Произошла ошибка</h2>
		<div>Страница еще не существует или введен неправильный URL</div>
		<div>
			<img class="error-image" src="{{ URL }}/public/images/error.jpg">
		</div>
	</div>
</main>
