{% include '_header.twig' with {'URL': URL } %}
{% include '_list.html.twig' with {'URL': URL } %}
<div class="col-12 col-lg-8 col-xl-9">
	<h5 class="header-text">Расчёт нагрузки проверяющих: какое количество заданий необходимо проверить</h5>
	<div class="table-container rounded">
		{% if instructors|length > 0 %}
			<ul class="list-group list-group-flush margin-top-15">
				{% for instructor in instructors %}
					<li class="list-group-item">
						Проверяющий: {{ instructor.firstName }} {{ instructor.lastName }} Количество заданий: {{ instructor.tasksCount }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
</main>
</body>
{% include '_footer.twig' with {'URL': URL } %}